In [1]:
import pandas as pd
football=pd.read_csv("/home/dul/Football_dataset.csv")
football.tail()

/home/dul/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
362442,2017-01-01,2017010102,20,4,1.0,00:22,1,22.0,6.0,GB,...,0.0,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.0,2016
362443,2017-01-01,2017010102,20,4,NaN,00:13,1,13.0,9.0,GB,...,NaN,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,NaN,NaN,2016
362444,2017-01-01,2017010102,21,4,NaN,00:13,1,13.0,0.0,DET,...,NaN,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,NaN,NaN,2016
362445,2017-01-01,2017010102,21,4,1.0,00:12,1,12.0,1.0,DET,...,NaN,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,NaN,NaN,2016
362446,2017-01-01,2017010102,21,4,NaN,00:00,0,0.0,12.0,DET,...,NaN,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,NaN,NaN,2016

In [2]:
# if a row value is missing, the isnull() shows true
# if the row has a value and not a missing value, the isnull() shows false
football.isnull().tail()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
362442,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
362443,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
362444,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
362445,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False
362446,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,True,True,False

In [3]:
#notnull() is exact opposite of isnull()
# if a row value is missing, the notnull() shows false
# if the row has a value and not a missing value, the notnull() shows true
football.notnull().tail()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
362442,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
362443,True,True,True,True,False,True,True,True,True,True,...,False,True,True,True,True,True,True,False,False,True
362444,True,True,True,True,False,True,True,True,True,True,...,False,True,True,True,True,True,True,False,False,True
362445,True,True,True,True,True,True,True,True,True,True,...,False,True,True,True,True,True,True,False,False,True
362446,True,True,True,True,False,True,True,True,True,True,...,False,True,True,True,True,True,True,False,False,True

In [4]:
# the count of the number of missing values in each row
# that is number of total rows having a missing value per each column
football.isnull().sum()

Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64

In [5]:
pd.Series([True,False,True])

0     True
1    False
2     True
dtype: bool

In [6]:
# The true boolean output taken into sum, false boolean output not considering in counting sum
pd.Series([True,False,True]).sum()

2

In [7]:
football.shape

(362447, 102)

In [8]:
# using this way we can drop a row ,if any value in the row is missing
football.dropna(how='any').shape

(0, 102)

In [9]:
# temporary drop from dataset, to permanently remove need to store the new modified dataset in the csv file
football.shape

(362447, 102)

In [10]:
# drop a row if in that given row for each column the values are missing
football.dropna(how='all').shape

(362447, 102)

In [11]:
#in this dataset, the row with each column value missing is not there
# say we drop a row for both the considered columns the value is missing
football.dropna(subset=['down','airWPA'], how='all').shape

(308417, 102)

In [18]:
# for each row a count as per each category 
football['down'].value_counts()

1.0    123682
2.0     92586
3.0     59862
4.0     32099
Name: down, dtype: int64

In [19]:
# still total count not equal to the total number of rows, NaN values excluded
# to include NaN values too
football['down'].value_counts(dropna=False)

1.0    123682
2.0     92586
3.0     59862
NaN     54218
4.0     32099
Name: down, dtype: int64